
/* 
table of content
=======================================
***********Common Css ******************
1) Reset css 
2) top header section
3) menu bar section
4) banner section
5) inner page heading section
6) product card
7) footer section
 */
 :root{
    --primary-font:'Josefin Sans', sans-serif;
    --secondary-font:'Roboto', sans-serif;
    --text-color:#11161E;
    --dark-hover-color:#151A32;
    --light-color:#ffffff;
    --dark-color:#000000;
    --primary-color-light:#FF6F61;
    --primary-color-dark:#FF5645;
    --pragraph-color:#444444;
    --bg-color-light:#F1F1F1;
    --bg-color-dark:#F1F3F4;
 }
/* Reset css start */
body{
    font-family: var( --primary-font);
}
p{
    font-family: var(--secondary-font);
}
h1,h2,h3,h4,h5,h6
p,
ul,ol,
span,
small{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
a{
    display: inline-block;
}
button{
    cursor: pointer;
}
input:focus{
    outline: 0;
}
.form-control:focus{
    box-shadow: none;
}
/* Reset css End */

/*top header section css start */
#header{
    background-color: var(--dark-hover-color);
    padding: 11px 0;
}
#header .top_header_left p{
    color: var(--light-color);
    font-size: 16px;
    line-height: 28px; 
    margin: 0;
    padding: 0;
}
#header .top_header_left p i{
    padding-right: 5px;
    color: var(--primary-color-light);
}
#header .top_header_left p span{
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color-light);
}
#header .top_header_right,
#header .top_header_right a{
    color: var(--light-color);
}
#header .top_header_right ul:first-child li{
    border-right: 1px solid var(--bg-color-dark);
    padding: 0 20px;
}
#header .top_header_right ul:first-child li select{
    background: none;
    border: none;
    color: var(--light-color);
}
#header .top_header_right ul li a{
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 28px;
}
#header .top_header_right ul:last-child li a{
    color: var(--light-color);
    font-size: 20px;
    padding: 0 10px;
    transition: .3s;
}
#header .top_header_right ul:last-child li a:hover{
    color: var(--primary-color-light);
}
/* top header section css End */
/* menu bar section css start */
#nav ul:first-child li a{
    color: var(--text-color);
    font-size: 16px;
    line-height: 26px;
    padding: 37px 28px;
    transition: .3s;
}
#nav ul:last-child li a,
#nav ul:last-child li button{
    background: none;
    border: none;
    font-size: 24px;
    padding: 0 10px;
    color: var(--dark-hover-color);
    transition: .3s;
}
#nav ul li a:hover,
#nav ul li button:hover{
    color: var(--primary-color-light);
}
#nav ul li button span{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 2px;
    border-radius: 50%;
    background: var(--primary-color-dark);
    color: var(--light-color);
}
/* menu bar section css End */





/* search section css start */
#search{
    position: fixed;
    inset: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(0);
    transition: .3s;
}
#search.show{
    transform: scale(1);
}
#search form{
    border: 2px solid var(--primary-color-light);
    border-radius: 50px;
    padding: 15px 30px;

}
#search form input,
#search form button{
    border: none;
    background: none;
    color: var(--light-color);
    font-size: 20px;
}
#search form input::placeholder{
    color: var(--light-color);
}
#search #search_hide_btn{
   position: absolute;
   top: 50px;
   right: 50px;
   width: 60px;
   height: 60px;
   line-height: 60px;
   border-radius: 50%;
   border: 1px solid var(--primary-color-light);
   background: none;
   color: var(--primary-color-light);
   font-size: 20px;
   transition: .3s;
}
#search #search_hide_btn:hover{
    background: var(--light-color);
    border-color: var(--light-color);
    transform: rotate(180deg);
}
/* search section css End */
/* shopping section start */

#shopping{
    position: fixed;
    inset: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    transform: scale(0);
    transition: .5s;
    transform-origin: right;
}
#shopping.show{
    transform: scale(1);
}
#shopping .shopping_cart{
    position: relative;
    width: 500px;
    background-color: var(--light-color);
    margin-left: auto;
    padding: 70px 0;
}
#shopping .shopping_cart .shopping_small_box{
    width: 90%;
    margin: 20px;
}
#shopping .shopping_cart .bag_hide_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    margin-right: 20px;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: 3px solid var(--dark-color);
    border-radius: 50%;
    font-size: 30px;
    transition: .3s;
}
#shopping .shopping_cart .bag_hide_btn:hover{
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
    transform: rotate(90deg);
    
}
#shopping .shopping_cart .shopping_small_box h3{
    font-weight: 800;
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials{
    width: 100%;
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials img{
    width: 80px;
    margin-right: 20px;
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials .shop_info p{
    font-family: var(--primary-font);
    font-weight: 800;
    transition: .3s;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials .shop_info p:hover{
    color: var(--primary-color-light);
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials .shop_info span{
    font-family: var(--primary-font);
    font-size: 18px;
    color: var(--primary-color-light);
}
#shopping .shopping_cart .shopping_small_box ul li .shop_detials .shop_info span .small_x{
    font-size: 25px;
}
#shopping .shopping_cart .shopping_small_box ul li .icon i{
    transition: .4s;
}
#shopping .shopping_cart .shopping_small_box ul li .icon i:hover{
    color: var(--primary-color-light);
    cursor: pointer;
}
#shopping .shopping_cart .shopping_small_box .total{
    margin: 20px 0;
}
#shopping .shopping_cart .shopping_small_box .total b{
    font-size: 20px;
    font-weight: 800;
}
#shopping .shopping_cart .shopping_small_box .total small{
    font-size: 18px;
    font-weight: 600;
}
#shopping .shopping_cart .shopping_small_box .last_btn a{
    color: var(--light-color);
    background-color: var(--primary-color-light);
    padding: 15px 60px;
    font-size: 20px;
    transition: .4s;
}
#shopping .shopping_cart .shopping_small_box .last_btn a:hover{
    background-color: var(--dark-hover-color);
}
#shopping .shopping_cart .shopping_small_box .last_btn a:first-child{
    margin-right: 20px;
}
/* shopping section End */
 /* popup css section start */
 #popup_section{
    position: fixed;
    inset: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, .6);

 }

 #popup_section .popup{
    width: 900px;
    height: 500px;
    background-color: var(--primary-color-light);
    margin: 120px auto;
    background-image: url(./../images/popup/popup-banner-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    
 }
 #popup_section .popup .popup_hide_btn{
    display: block;
    margin-left: auto;
    padding: 10px 15px 0 0;
    color: var(--light-color);
    background: none;
    border: none;
    font-size: 25px;
    transition: .4s;
 }
 #popup_section .popup .popup_hide_btn:hover{
    color: var(--dark-color);
 }
 #popup_section .popup h3{
    text-align: center;
    color: var(--light-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    padding-bottom: 5px;
    position: relative;
    
 }
 #popup_section .popup h3::after{
    content: "";
    position: absolute;
    width: 21%;
    height: 3px;
    bottom: 0;
    right: 0;
    background-color: var(--light-color);
    margin-right: 360px;
 }
 #popup_section .popup p{
    color: var(--light-color);
    padding: 20px 125px 8px 125px;
    text-align: center;
 }
 #popup_section .popup .popup_form form{
    margin: 0;
    margin-left: 120px;
 }
 #popup_section .popup .popup_form input{
    width: 500px;
    height: 50px;
    padding: 11px 20px;
    margin-right: 10px;
 }
 #popup_section .popup .popup_form button{
    padding: 10px 30px;
    color: var(--light-color);
    background-color: var(--dark-hover-color);
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    transition: .4s;
 }
 #popup_section .popup .popup_form button:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
 }
 #popup_section .popup .popup_form input::placeholder{
    color: var(--dark-hover-color);
 }
 #popup_section .popup .last_form{
    display: flex;

 }
 #popup_section .popup .last_form{
    margin-left: 310px;
    margin-top: 30px;
 }
 #popup_section .popup .last_form h6{
    margin-left: 9px;

    line-height: 28px;
    color: var(--light-color);
 }
 /* popup css section End */